# Python / Backend
__pycache__/
/**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.sqlite3
*.sqlite
*.db
.pytest_cache/


# Node / Frontend
node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
*.local
.npm
.vite
*.log

# Environment & IDE
.env
.env.*
!.env.example
.vscode/
.idea/
.DS_Store
Thumbs.db
